body {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(0.9em + 1vmin);
    font-family: Arial, Helvetica, sans-serif;
    gap: 5vh;
    background-color: rgb(252, 252, 255);
}
button {
    cursor: pointer;
    border: none;
}



h1 {
    font-size: calc(2.5em + 1vmin);
    margin-top: 2.5vh;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}



.players-container {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
    .player-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    .player1-container {
        align-items: right;
    }
        input,
        input:focus {
            text-align: center;
            border: none;
            outline: none;
            background-color: rgb(252, 252, 255);
            width: 70%;
            justify-self: center;
        }
        .bot-btn {
            justify-self: center;
            width: 70%;
            padding: 0.2em 0;
            border-radius: 5px;
            background-color: #e6e6e6;
            color: #8d8d8d;
            box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
        }
        .bot-btn:hover {
            background-color: #7187FF;
            color: #fff;
            box-shadow: none;
        }
        .bot-btn-selected {
            background-color: #7187FF;
            color: #fff;
            box-shadow: none;
        }
        @media (min-width: 1000px) {
            .bot-btn {
                width: 60%;
            }
        }
@media (min-width: 500px) {
    .players-container {
        flex-direction: row;
        gap: 50px;
        margin-top: 0px;
    }
}
@media (min-width: 1000px) {
    .players-container {
        gap: 150px;
    }
}



.play-btn {
    padding: 0.4em 2.5em;
    border-radius: 0;
    background-color: #fff;
    color: #18C649;
    outline: 2px solid #18C649;
    font-weight: bold;
}
.play-btn:hover {
    background-color: #18C649;
    color: #fff;
}
.reset-btn {
    display: none;
    padding: 0.4em 2.5em;
    border-radius: 0;
    background-color: #fff;
    color: #8d8d8d;
    outline: 2px solid #8d8d8d;
}
.reset-btn:hover {
    background-color: #FF5050;
    color: #fff;
}



.game-grid {
    width: 40vh;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
    background-color: rgba(0, 0, 0, 0.05);
}
    .game-grid > * {
        cursor: default;
    }
.game-grid-active {
    background-color: rgba(0, 0, 0, 0.7);
}
    .game-grid-active > * {
        cursor: pointer;
    }
    .grid-btn {
        background-color: rgb(252, 252, 255);
    }
/* @media (min-width: 500px) and (min-height: 700px) {
    .game-grid {
        width: 40vh;
        height: 40vh;
    }
} */
@media (min-width: 1000px) and (min-height: 800px) {
    .game-grid {
        width: 50vh;
        height: 50vh;
        gap: 3px;
    }
}
